.calendario{
    width: 100%;
}
.caja_calendario {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    height: 500px;
    margin-left: 177px;
    margin-top: 83px;
    justify-content: space-between;
}
