.calendario{
    width: 100%;
}
.caja_calendario {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1132px;
    height: 500px;
    margin-left: 177px;
    margin-top: 83px;
    justify-content: space-between;
}
@media screen and (max-width:1024px){
    .caja_calendario{
    width: 825px;
    }
}
@media screen and (max-width:480px){
    .caja_calendario{
        width: 355px;
        }
}