.creado{
    width:0%;
}
.inicio{

width:10%;
}
.proceso{
width: 40%;
}
.finalizado{
width: 100%;
}
.animacion{
    transition: all 2s ease .5s;
}
.icono_caja{
    position: fixed;
    left: 1139px;
    width: 100px;
    height: 53px;
    top: 13px;
}
.indicadores{
display:flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-bottom: 25px;
}
.amarillo,.verde,.rojo{
    width: 120px;
    height: 120px;
    margin: 0 5px;
    position: relative;
    left:90px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}
.amarillo{
    background-color: #e2f94c;
}
.verde{
    background-color: #17f640;
}
.rojo{
    background-color: #fd1010;
}
.tamanio_icon_user{
font-size: 25px;
}
@media screen and (max-width: 768px){
.icono_caja{
    left: 458px;

}
.caja_seguimiento{
    margin-left: 70px;
    width: auto;
}
}
