.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/imagenFondo.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 60px;
}

.caja_hijo {
    width: 306px;
    height: 488px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-boton-user-contra {
    height: 185px;
    display: flex;
}

.logo_tipo {
    width: 300px;
    height: 138px;
    background-position: center;
    background-repeat: no-repeat;
}

.boton-ubicacion {
    margin-top: 10px;
    text-justify: center;
    height: 35px;
    width: 251px;
    font-size: 12px;
    background-color: #1B4BF2;
}

.division {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  
}

.linea {
    width: 120px;
    height: 2px;
    background-color: #f000;
    border: 1px solid black;
    margin: 8px;
}

.circulo {
    width: 10px;
    height: 10px;
    background-color: #f000;
    border: 1px solid #a3a2a2;
    border-radius: 50%;
}

.caja-boton-correo-facebook {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.introimage {
    width: 208px;
    height: 73px;
}

.caja-input-contrasena {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.formulario-sesion {
    height: 200px;
}

.caja-input-identificacion {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
}
.po{
    position: relative;
    left:500px;
}
@media screen and (max-width:480px){
   .po{
    left:-1px;
   }

}